<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">TechLabo Ruby AIAgentRoR</h1>
    <p class="lead">Ruby on Railsで作成されたサンプルアプリケーションへようこそ！</p>
    <hr class="my-4">
    <p>このアプリケーションはGitHub Copilotによって作成されました。</p>
    <p>現在表示しているページはHomeコントローラーのindexアクションによって生成されています。</p>
  </div>
</div>
